<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{ace/pb-pages/header :: header}">
    <!-- inline styles related to this page -->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:insert="~{ace/pb-pages/navbar :: navbar}"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"
         th:insert="~{ace/pb-pages/sidebar :: sidebar}">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:insert="~{ace/pb-pages/breadcrumbs :: breadcrumbs}"></div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:insert="~{ace/pb-pages/ace-settings-container :: ace-settings-container}">
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Media Player
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Streaming
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row col-xs-12">
                    <!--                    <div class="col-xs-12">-->
                    <!-- PAGE CONTENT BEGINS -->
                    <!-- <div id="dplayer" style="width: 1280px; height: 720px; left: 0; top: 0;"></div>-->
                    <!-- <div id="dplayer" style="width: 960px; height: 540px; left: 0; top: 0;"</div>-->
                    <!--<div id="dplayer" style=" height: 540px; left: 0; top: 4px;" class="col-sm-9"></div>-->
                    <video id="player-container-id" width="414" height="270" preload="auto" playsinline
                           webkit-playsinline>
                    </video>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:insert="~{ace/pb-pages/footer :: footer}">
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"
       th:insert="~{ace/pb-pages/btn-scroll-up :: btn-scroll-up}">
    </a>
</div><!-- /.main-container -->

<div th:insert="~{ace/pb-pages/common-script :: common-script}"></div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<link href="https://web.sdk.qcloud.com/player/tcplayer/release/v5.1.0/tcplayer.min.css" rel="stylesheet"/>
<!--播放器脚本文件-->
<script src="https://web.sdk.qcloud.com/player/tcplayer/release/v5.1.0/tcplayer.v5.1.0.min.js"></script>

<script type="application/javascript">
    const currentPathname = window.location.pathname; // /ace/index.html
    const currentHost = window.location.host; // 192.168.1.100:8088/
    // const url = 'http://' + currentHost + '/ace/play/[[${playId}]]';
    // const url = 'http://localhost:8088/ace/play/ts/index.m3u8/[[${playId}]]'
     const url = 'http://localhost:8088/ace/play/ts/[[${playId}]]/index.m3u8';
   // const url = 'https://1500005692.vod2.myqcloud.com/43843706vodtranscq1500005692/62656d94387702300542496289/v.f100240.m3u8';

    // player-container-id 为播放器容器 ID，必须与 html 中一致
    const player = TCPlayer('player-container-id', {
        sources: [{
            src: url, // 播放地址
        }],
        licenseUrl: 'license/url', // license 地址，参考准备工作部分，在视立方控制台申请 license 后可获得 licenseUrl
    });

    // player.src(url); // url 播放地址

    //  console.log(currentPathname);
    //   console.log(currentHost);
    //  console.log(url);
    //   player.src(url); // Play URL


</script>


</body>
</html>
