<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{ace/pb-pages/header :: header}">
    <!-- inline styles related to this page -->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:insert="~{ace/pb-pages/navbar :: navbar}"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"
         th:insert="~{ace/pb-pages/sidebar :: sidebar}">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:insert="~{ace/pb-pages/breadcrumbs :: breadcrumbs}"></div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:insert="~{ace/pb-pages/ace-settings-container :: ace-settings-container}">
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Media Player
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Streaming
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row col-xs-12">
                    <video id="player-container-id" width="414" height="270" preload="auto" playsinline
                           webkit-playsinline>
                    </video>
                    <!-- PAGE CONTENT ENDS -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:insert="~{ace/pb-pages/footer :: footer}">
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"
       th:insert="~{ace/pb-pages/btn-scroll-up :: btn-scroll-up}">
    </a>
</div><!-- /.main-container -->

<div th:insert="~{ace/pb-pages/common-script :: common-script}"></div>

<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>

<script type="application/javascript">

    jQuery(function ($) {

        const currentPathname = window.location.pathname; // /ace/index.html
        const currentHost = window.location.host; // 192.168.1.100:8088/
         const url = 'http://' + currentHost + '/ace/play/[[${playId}]]';
       // const url = 'http://localhost:8088/ace/play/ts/index.m3u8/[[${playId}]]'
        // const url = 'http://localhost:8088/ace/play/ts/[[${playId}]]/index.m3u8';
        // const url = 'https://1500005692.vod2.myqcloud.com/43843706vodtranscq1500005692/62656d94387702300542496289/v.f100240.m3u8';

        const video = document.getElementById('player-container-id');

        let config = {
            // hls config
            xhrSetup: function (xhr, url) {
                console.log('1 origin url:' + url);
                //用手机播放, xhr不生效
                const playId = '/[[${playId}]]';
                if (url.indexOf('.ts') !== -1 || url.indexOf('key') !== -1) {
                    url = url + playId;
                    if (url.indexOf('.ts') !== -1) {
                        console.log('4 ts url:' + url);
                    } else if (url.indexOf('key') !== -1) {
                        console.log('3 key url:' + url);
                    }

                } else if (url.indexOf('index') !== -1) {
                    url = 'play/ts/index.m3u8' + playId;
                    console.log('2 m3u8 url:' + url);

                    // url = 'media/play/ts/index.m3u8?uuid=[[${playId}]]'; for requestParam
                }
                xhr.open('GET', url, true);
            }
        }
        console.log(url);
        // 渲染到播放器
        const hls = new Hls(config);
        hls.loadSource(url);
        hls.attachMedia(video);
    });
</script>


</body>
</html>
