<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="ace/pb-pages/header :: header">
    <!-- inline styles related to this page -->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:include="ace/pb-pages/navbar :: navbar"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"
         th:include="ace/pb-pages/sidebar :: sidebar">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:include="ace/pb-pages/breadcrumbs :: breadcrumbs"></div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:include="ace/pb-pages/ace-settings-container :: ace-settings-container">
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Media Player
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Streaming
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row col-sm-7">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div id="dplayer"></div>
                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:include="ace/pb-pages/footer :: footer">
    </div>
    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"
       th:include="ace/pb-pages/btn-scroll-up :: btn-scroll-up">
    </a>
</div><!-- /.main-container -->

<div th:include="ace/pb-pages/common-script :: common-script"></div>
<!-- page specific plugin scripts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/dplayer@1.25.0/dist/DPlayer.min.css" type="text/css"/>
<script src="https://cdn.bootcss.com/blueimp-md5/2.12.0/js/md5.min.js"></script>
<script src="https://cdn.bootcss.com/flv.js/1.5.0/flv.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
<!--<script src="https://cdn.jsdelivr.net/hls.js/latest/hls.min.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/dplayer@1.27.0/dist/DPlayer.min.js"></script>


<script>

    const url = 'media/play.html';
    const vid = md5(url);
    const dp = new DPlayer({
        container: document.getElementById('dplayer'),
        autoplay: true, // 自动播放
        theme: '#FADFA3', // 主题
        loop: true, // 循环播放
        lang: 'zh-cn', // 语言
        screenshot: true, // 截图
        hotkey: true, // 热键
        airplay: true,
        Chromecast: true,
        playbackSpeed: [0.5, 0.75, 1, 1.25, 1.5, 2],
        preload: 'auto', // 预加载
        // logo: '/assets/octocat.png', // 左上角logo
        volume: 0.7, // 音量
        mutex: true, // 阻止多个播放器同时播放
        // 常规方式
        /*video: {
            url: url,
            type: 'normal',
            pic: '/assets/demo.png', // 封面
            thumbnails: '/assets/thumbnail.jpg', // 缩略图
        },*/
        // m3u8
        video: {
            url: 'media/play/[[${playId}]]',
            type: 'hls',
            defaultQuality: 0
        },
        pluginOptions: {
            hls: {
                autoStartLoad: true,
                startPosition: -1,
                // hls config
                xhrSetup: function (xhr, url) {
                    if (url.indexOf('.ts') !== -1 || url.indexOf('key') !== -1) {
                        url = url + '/[[${playId}]]';
                    } else if (url.indexOf('\u0000') !== -1) {
                        url = 'media/play/ts/index.m3u8/[[${playId}]]';
                    }
                    xhr.open('GET', url, true);
                }
            },
            flv: {
                enableWorker: false,
                enableStashBuffer: true,
                stashInitialSize: undefined,

                isLive: false,

                lazyLoad: true,
                lazyLoadMaxDuration: 3 * 60,
                lazyLoadRecoverDuration: 30,
                deferLoadAfterSourceOpen: true,

                // autoCleanupSourceBuffer: default as false, leave unspecified
                autoCleanupMaxBackwardDuration: 3 * 60,
                autoCleanupMinBackwardDuration: 2 * 60,

                statisticsInfoReportInterval: 600,

                fixAudioTimestampGap: true,

                accurateSeek: false,
                seekType: 'range',  // [range, param, custom]
                seekParamStart: 'bstart',
                seekParamEnd: 'bend',
                rangeLoadZeroStart: false,
                customSeekHandler: undefined,
                reuseRedirectedURL: false,
                // referrerPolicy: leave as unspecified

                headers: undefined,
                customLoader: undefined
            }
        },

        // 切换视频质量
        //video: {
        //    quality: [
        //        {
        //            name: 'HD',
        //            url: 'demo.m3u8',
        //            type: 'hls',
        //        },
        //        {
        //            name: 'SD',
        //            url: 'demo.mp4',
        //            type: 'normal',
        //        },
        //    ],
        //    defaultQuality: 0,
        //    pic: 'demo.png',
        //    thumbnails: 'thumbnails.jpg',
        //},
        // 视频字幕
        /*subtitle: {
            type: 'webvtt',
            url: 'webvtt.vtt',
            fontSize: '25px',
            bottom: '10%',
            color: '#b7daff'
        },*/
        // 弹幕
        /*danmaku: {
            id: vid,
            api: 'http://192.168.1.172:1207/',
            addition: ['http://192.168.1.172:1207/v3/bilibili?aid=80266688&cid=137358410']
        },*/
        // 视频右键菜单
        /*contextmenu: [
            {
                text: 'falltakeman',
                link: 'https://cnblogs.com/falltakeman',
            },
            {
                text: 'dplayer',
                click: (player) => {
                    console.log(player);
                },
            },
        ],*/
        // 高能预告
        /* highlight: [
             {
                 text: '敌军还有10秒到达战场',
                 time: 10,
             },
             {
                 text: '2mins 空降',
                 time: 120,
             },
         ],*/
    });

    dp.on('play', function () {
    });

    dp.on('pause', function () {
    });

    dp.on('canplay', function () {
    });

    dp.on('playing', function () {
    });

    dp.on('ended', function () {
    });

    dp.on('error', function () {
    });


</script>
</body>
</html>
