<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta charset="utf-8"/>
    <title>Users - Ace Admin</title>

    <meta name="description" content=""/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>

    <!-- bootstrap & fontawesome -->
    <link rel="stylesheet" th:href="@{/assets/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/font-awesome/4.5.0/css/font-awesome.min.css}"/>

    <!-- page specific plugin styles -->

    <!-- text fonts -->
    <link rel="stylesheet" th:href="@{/assets/css/fonts.googleapis.com.css}"/>

    <!-- ace styles -->
    <link rel="stylesheet" th:href="@{/assets/css/ace.min.css}" class="ace-main-stylesheet" id="main-ace-style"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/assets/css/ace-part2.min.css}" class="ace-main-stylesheet"/>
    <![endif]-->
    <link rel="stylesheet" th:href="@{/assets/css/ace-skins.min.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/ace-rtl.min.css}"/>

    <!--[if lte IE 9]>
    <link rel="stylesheet" th:href="@{/assets/css/ace-ie.min.css}"/>
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->
    <script th:src="@{/assets/js/ace-extra.min.js}"></script>


    <!-- HTML5shiv and Respond.js for IE8 to support HTML5 elements and media queries -->

    <!--[if lte IE 8]>
    <script th:src="@{/assets/js/html5shiv.min.js}"></script>
    <script th:src="@{/assets/js/respond.min.js}"></script>
    <![endif]-->
    <link rel="shortcut icon" th:href="@{/assets/images/favicon.ico}">
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:include="templates/ace/pb-pages/navbar :: navbar"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state" th:include="templates/ace/pb-pages/sidebar :: sidebar">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:include="templates/ace/pb-pages/breadcrumbs :: breadcrumbs"></div>

            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:include="templates/ace/pb-pages/ace-settings-container :: ace-settings-container">
                </div><!-- /.ace-settings-container -->


                <div class="page-header">
                    <h1>
                        Roles
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Role list
                        </small>
                    </h1>
                </div><!-- /.page-header -->


                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Role description</th>
                                <th>Role code</th>
                                <th>Permission code</th>
                                <th>Action</th>
                                <th></th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="rowRole:${roles}">
                                <td th:text="${rowRole.roleName}"></td>
                                <td th:text="${rowRole.roleCode}"></td>
                                <td th:text="PC"></td>
                                <td th:text="AC"></td>
                                <td>
                                    <div class="hidden-sm hidden-xs btn-group">
                                        <button class="btn btn-xs btn-success">
                                            <i class="ace-icon fa fa-check bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-info">
                                            <i class="ace-icon fa fa-pencil bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-danger"
                                                th:id="'btnDanger-'+${rowRole.roleId}">
                                            <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                        </button>

                                        <button class="btn btn-xs btn-warning">
                                            <i class="ace-icon fa fa-flag bigger-120"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="hr hr-24"></div>
                        <div class="col-xs-5">
                            <!--                            <div class="widget-box collapsed">-->
                            <div id="widgetBox" class="">
                                <div class="widget-header">
                                    <h4 class="widget-title glyphicon-plus"> Create New Role</h4>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <!--                                            <i class="ace-icon fa fa-chevron-down"></i>-->
                                            <i id="faChevron" class=""></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form action="/ace/roles/create.html" method="get" class="form-horizontal"
                                              role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="roleCode"> Role Code </label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="roleCode" name="roleCode"
                                                           placeholder="Role Code"
                                                           class="col-xs-10 col-sm-5"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="roleName"> Role Name </label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="roleName" name="roleName"
                                                           placeholder="Role Name"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="checkbox">
                                                <label>
                                                    <input name="select" type="checkbox" class="ace"/>
                                                    <span class="lbl">select</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="update" type="checkbox" class="ace"/>
                                                    <span class="lbl">update</span>
                                                </label>
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input name="insert" type="checkbox" class="ace"/>
                                                    <span class="lbl">insert</span>
                                                </label>
                                            </div>
                                            <div class=" checkbox">
                                                <label>
                                                    <input name="delete" type="checkbox" class="ace"/>
                                                    <span class="lbl">delete</span>
                                                </label>
                                            </div>

                                            <div class="clearfix form-actions">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-info" type="submit" id="createRole">
                                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                                        Submit
                                                    </button>

                                                    &nbsp; &nbsp; &nbsp;
                                                    <button class="btn" type="reset">
                                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                                        Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- /.span -->
                        </div>

                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:include="templates/ace/pb-pages/footer :: footer">
    </div>

    <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse"
       th:include="templates/ace/pb-pages/btn-scroll-up :: btn-scroll-up">
    </a>
</div><!-- /.main-container -->

<!-- basic scripts -->

<!--[if !IE]> -->
<script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>

<!-- <![endif]-->

<!--[if IE]>
<script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
<![endif]-->
<script type="text/javascript">
    if ('ontouchstart' in document.documentElement) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>" + "<" + "/script>");
</script>
<script th:src="@{/assets/js/bootstrap.min.js}"></script>
<!-- page specific plugin scripts -->

<!-- ace scripts -->
<script th:src="@{/assets/js/ace-elements.min.js}"></script>
<script th:src="@{/assets/js/ace.min.js}"></script>
<div th:include="templates/ace/pb-pages/common-script :: common-script"></div>

<!-- inline scripts related to this page -->
<script type="text/javascript">
    jQuery(function ($) {

        /***************/
        //set account enable/disable
        $("button.btn-danger").on('click', function (e) {
            const dangerId = $(this).attr("id");
            const rolesId = dangerId.split("-");

            // alert(checkId);
            // alert(userId);

            let d = dialog({
                title: '提示',
                content: '按钮回调函数返回 false 则不许关闭',
                okValue: '确定',
                ok: function () {
                    this.title('提交中…');
                    $.ajax(
                        {
                            type: "GET",
                            url: "/ace/roles/create.html",
                            data: {rolesId: rolesId[1]},
                            cache: false,
                            success: function (ajaxResult) {
                                $("#enanle-" + userId[1]).html(ajaxResult);
                            },
                            error: function () {
                                alert("AJAX FAILURE");
                            }
                        }
                    )
                    return true;
                },
                cancelValue: '取消',
                cancel: function () {
                }
            });
            d.showModal();
        });
        /***************/
    })
</script>

</body>
</html>
