<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{ace/pb-pages/header :: header}">
    <!-- inline styles related to this page -->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:insert="~{ace/pb-pages/navbar :: navbar}"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"
         th:insert="~{ace/pb-pages/sidebar :: sidebar}">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:insert="~{ace/pb-pages/breadcrumbs :: breadcrumbs}"></div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:insert="~{ace/pb-pages/ace-settings-container :: ace-settings-container}">
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1>
                        Roles
                        <small>
                            <i class="ace-icon fa fa-angle-double-right"></i>
                            Role list
                        </small>
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <table id="simple-table" class="table  table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Role description</th>
                                <th>Role code</th>
                                <th>Status</th>
                                <th>Action</th>
                                <th>Code</th>
                                <th>Operation</th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr th:each="rowRole:${roles}">
                                <input type="hidden" th:value="${rowRole.roleId}" th:id="'roleId-'+${rowRole.roleId}"/>
                                <td th:text="${rowRole.roleName}"></td>
                                <td th:text="${rowRole.roleCode}"></td>
                                <td th:text="${rowRole.status}" th:if="${rowRole.status} eq 'ACTIVE'" class="blue"></td>
                                <td th:text="${rowRole.status}" th:if="${rowRole.status} eq 'INACTIVE'"
                                    class="red"></td>
                                <td th:id="'roleAction-'+${rowRole.roleId}">
                                    <label th:each="permission:${rowRole.permissions}"
                                           th:text="${permission.action}+'&nbsp;&nbsp;'"
                                           th:id="'action-'+${permission.action}"></label>
                                </td>
                                <td th:id="'rolePcode-'+${rowRole.roleId}">
                                    <span class="blue" th:each="permission:${rowRole.permissions}"
                                          th:text="${permission.permissionCode}+'&nbsp;&nbsp;'"
                                          th:id="'pCode-'+${permission.action}"></span>
                                </td>
                                <td>
                                    <div class="btn-group">
                                        <button class="btn btn-xs btn-info" th:id="'btnInfo-'+${rowRole.roleId}">
                                            <a href="#modal-table" role="button" data-toggle="modal">
                                                <i class="ace-icon fa fa-pencil bigger-120 white"></i>
                                            </a>
                                        </button>
                                        <button class="btn btn-xs btn-danger" th:id="'btnDanger-'+${rowRole.roleId}">
                                            <i class="ace-icon fa fa-trash-o bigger-120 white"></i>
                                        </button>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="hr hr-24"></div>
                        <div class="col-xs-5">
                            <div id="widgetBox" class="widget-box collapsed">
                                <div class="widget-header">
                                    <h4 class="widget-title glyphicon-plus"> Create New Role</h4>

                                    <div class="widget-toolbar">
                                        <a href="#" data-action="collapse">
                                            <i id="faChevron" class="ace-icon fa fa-chevron-down"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <div class="widget-main">
                                        <form action="/ace/roles/create.html" method="get"
                                              class="form-horizontal pageForm" id="roleForm"
                                              role="form">
                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="roleCode"> Role Code </label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="roleCode" name="roleCode" required="required"
                                                           placeholder="Role Code"
                                                           class="col-xs-10 col-sm-5"/>
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-3 control-label no-padding-right"
                                                       for="roleName"> Role Name </label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="roleName" name="roleName" required="required"
                                                           placeholder="Role Name"
                                                           class="form-control"/>
                                                </div>
                                            </div>

                                            <div class="">
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="select" type="checkbox" class="ace"/>
                                                        <span class="lbl">select</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="update" type="checkbox" class="ace"/>
                                                        <span class="lbl">update</span>
                                                    </label>
                                                </div>
                                                <div class="checkbox">
                                                    <label>
                                                        <input name="insert" type="checkbox" class="ace"/>
                                                        <span class="lbl">insert</span>
                                                    </label>
                                                </div>
                                                <div class=" checkbox">
                                                    <label>
                                                        <input name="delete" type="checkbox" class="ace"/>
                                                        <span class="lbl">delete</span>
                                                    </label>
                                                </div>
                                            </div>

                                            <div class="clearfix form-actions">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button class="btn btn-info" type="submit" id="createRoleBtn">
                                                        <i class="ace-icon fa fa-check bigger-110"></i>
                                                        Submit
                                                    </button>

                                                    &nbsp; &nbsp; &nbsp;
                                                    <button class="btn" type="reset">
                                                        <i class="ace-icon fa fa-undo bigger-110"></i>
                                                        Reset
                                                    </button>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div><!-- /.span -->
                        </div>

                        <div id="modal-table" class="modal fade" tabindex="-1" data-backdrop="static">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header no-padding">
                                        <div class="table-header" id="tableHeaderInfo">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                                <span class="white">&times;</span>
                                            </button>
                                            <strong id="tableTitle">Update xxx permission => xxx</strong>
                                        </div>
                                    </div>

                                    <div class="modal-body no-padding center">
                                        <table class=" table table-striped table-bordered table-hover no-margin-bottom no-border-top">
                                            <thead>
                                            <tr class="center">
                                                <th>Action</th>
                                                <th>
                                                    <!-- <i class="ace-icon fa fa-clock-o bigger-110"></i>-->
                                                    Permission code
                                                </th>
                                            </tr>
                                            </thead>

                                            <tbody id="modelTbody">

                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal-footer no-margin-top">
                                        <button class="btn btn-sm btn-info pull-right" data-dismiss="modal">
                                            <i class="ace-icon fa fa-times"></i>
                                            Close
                                        </button>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div>


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:insert="~{ace/pb-pages/footer :: footer}">
    </div>
</div><!-- /.main-container -->

<div th:insert="~{ace/pb-pages/common-script :: common-script}"></div>
<!-- page specific plugin scripts -->
<script type="application/javascript">

    function tBodyInit() {
        return `<tr>
                    <td>
                        <span><strong>ALL</strong></span>
                        <input id="check-ALL" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>
                        <span><strong>INSERT</strong></span>
                        <input id="check-INSERT" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>1</td>
                </tr>
                <tr>
                    <td>
                        <span><strong>UPDATE</strong></span>
                        <input id="check-UPDATE" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>2</td>
                </tr>
                <tr>
                    <td>
                        <span><strong>DELETE</strong></span>
                        <input id="check-DELETE" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>
                        <span><strong>SELECT</strong></span>
                        <input id="check-SELECT" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>4</td>
                </tr>
                <tr>
                    <td>
                        <span><strong>DENY</strong></span>
                        <input id="check-DENY" type="checkbox"
                               class="ace ace-switch ace-switch-5"/>
                        <span class="lbl middle"></span>
                    </td>
                    <td>10</td>
                </tr>`;
    }

    const admin = '[[${currentUser.roleGroup}]]';

    $(".btn.btn-xs.btn-danger").on('click', function () {

        if (admin.indexOf("admin") === -1) {
            const checkAdminDialog = dialog({
                title: '用户权限不足',
                content: '用户不是admin, 不允许执行该操作'
            });
            checkAdminDialog.show();
            return;
        } // 检查当前用户是否admin

        const btnDangerId = $(this).attr("id");
        const roleId = btnDangerId.split('btnDanger-')[1];
        d = dialog({
            title: 'Clean role all permission !',
            content: 'Are you confirm to CLEAN ALL PERMISSION ?',
            okValue: 'Confirm',
            ok: function () {
                this.title('CLEANING …');
                $.ajax(
                    {
                        url: `/ace/rolePermissions/deleteAllByRoleId.html/${roleId}`,
                        type: "GET",
                        cache: false,
                        // dataType: "json", 指的是数据的返回类型
                        success: function (data) {
                            const pIdAction = 'roleAction-' + roleId;
                            const pCodeAction = 'rolePcode-' + roleId;
                            $('#' + pIdAction).empty();
                            $('#' + pCodeAction).empty();
                        },
                        error: function () {
                            alert("AJAX FAILURE");
                        }
                    }
                )
                return true;
            },
            cancelValue: 'Cancel',
            cancel: function () {
            }
        });
        d.showModal();
    });

    let currentRoleId;
    let $modelTable = $('#modelTbody');
    //重新绑定input.ace.ace-switch.ace-switch-5元素
    $modelTable.on('click', 'input.ace.ace-switch.ace-switch-5', function () {
        const roleId = currentRoleId;
        const checkPId = $(this).attr('id');
        const pAction = checkPId.split('check-')[1];
        $.ajax(
            {
                url: `/ace/roles/update.html/${roleId}/${pAction}`,
                type: "GET",
                cache: false,
                // dataType: "json", 指的是数据的返回类型
                success: function (data) {
                    const pIdAction = 'action-' + pAction;
                    const pCodeAction = 'pCode-' + pAction;
                    if (data.result) {
                        const trAction = `<label id="action-${pAction}">${pAction}&nbsp;&nbsp;</label>`;
                        const trPCode = `<span class="blue" id="${pCodeAction}">${data.pCode}&nbsp;&nbsp;</span>`;
                        $('#roleAction-' + roleId).append(trAction);
                        $('#rolePcode-' + roleId).append(trPCode);
                    } else {
                        $('#' + pIdAction).remove();
                        $('#' + pCodeAction).remove();
                    }
                },
                error: function () {
                    alert("AJAX FAILURE");
                }
            }
        )
    });

    $('.btn.btn-xs.btn-info').on('click', function () {
        //  $('#tableHeaderDanger').hide();
        //  $('#tableHeaderInfo').show();

        //可以用ajax call后台数据代替页面写面的html代码
        //后台代码极少改动, html代码可以直接写死
        const tbodyHtml = tBodyInit();
        $('#modelTbody').html(tbodyHtml);

        const roleId = $(this).attr('id').split('btnInfo-')[1];
        currentRoleId = roleId;
        $.ajax( //第一个ajax
            {
                url: "/ace/roles/getPermission/" + roleId,
                type: "GET",
                cache: false,
                // dataType: "json", 指的是数据的返回类型
                success: function (data) {
                    $('#tableTitle').html(`Update ${data.roleCode} permission`);
                    const permission = data.permissions; //permission=用户权限

                    $('#modelTbody tr').each(function () {
                        const actionContent = $(this).find('td span strong').html();
                        for (let i = 0; i < permission.length; i++) {
                            let tr;
                            if (actionContent === permission[i].action) {
                                tr = `<tr>
                                    <td>
                                        <span><strong>${permission[i].action}</strong></span>
                                        <input id="check-${permission[i].action}" checked=""
                                                   checked="${permission[i].enabled}"
                                                   type="checkbox"
                                                   class="ace ace-switch ace-switch-5"/>
                                            <span class="lbl middle"></span>
                                    </td>
                                    <td class="blue">${permission[i].permissionCode}</td>
                                </tr>`;
                                $(this).replaceWith(tr);
                            }
                        }
                    });

                },
                error: function () {
                    alert("AJAX FAILURE");
                }
            }
        )

    });

</script>


</body>
</html>
