<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{ace/pb-pages/header :: header}">
    <!-- inline styles related to this page -->
</head>

<body class="no-skin">
<div id="navbar" class="navbar navbar-default ace-save-state"
     th:insert="~{ace/pb-pages/navbar :: navbar}"></div>

<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
        try {
            ace.settings.loadState('main-container')
        } catch (e) {
        }
    </script>

    <div id="sidebar" class="sidebar responsive ace-save-state"
         th:insert="~{ace/pb-pages/sidebar :: sidebar}">
    </div>

    <div class="main-content">
        <div class="main-content-inner">
            <div class="breadcrumbs" th:insert="~{ace/pb-pages/breadcrumbs :: breadcrumbs}"></div>
            <div class="page-content">
                <div class="ace-settings-container" id="ace-settings-container"
                     th:insert="~{ace/pb-pages/ace-settings-container :: ace-settings-container}">
                </div><!-- /.ace-settings-container -->

                <div class="page-header">
                    <h1 id="playback-list">
                        Playback List
                    </h1>
                </div><!-- /.page-header -->
                <div class="row">
                    <div class="col-xs-12">
                        <!-- PAGE CONTENT BEGINS -->
                        <div class="row">
                            <div class="col-xs-12">
                                <table id="simple-table" class="table  table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>帐号</th>
                                        <th>用户名</th>
                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-film"></i>
                                            时长
                                        </th>
                                        <th>
                                            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
                                            记录时间
                                        </th>
                                        <th>
                                            <i class="ace-icon glyphicon glyphicon-play"></i>
                                            播放
                                        </th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>

                                    <tbody>
                                    <div th:each="event:${events}">
                                        <tr>
                                            <input type="hidden" th:value="${event.eventId}" th:id="${event.eventId}"
                                                   class="input-hidden"/>
                                            <input type="hidden" th:value="${event.uuid}" th:id="${event.uuid}"
                                                   class="input-hidden"/>
                                            <td>
                                                <a th:text="${event.userAccount}"></a>
                                            </td>
                                            <td th:text="${event.userName}"></td>
                                            <td th:text="${#temporals.format(event.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>
                                            <td th:text="${#temporals.format(event.createdDate, 'yyyy-MM-dd HH:mm:ss')}"></td>

                                            <td class="hidden-480">
                                                <a href="#">
                                                    <span class="label label-sm label-info" id="playback">ace.com</span>
                                                </a>
                                            </td>

                                            <td>
                                                <div class="hidden-sm hidden-xs btn-group">
                                                    <button class="btn btn-xs btn-danger">
                                                        <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                                    </button>
                                                </div>

                                                <div class="hidden-md hidden-lg">
                                                    <div class="inline pos-rel">
                                                        <button class="btn btn-minier btn-primary dropdown-toggle"
                                                                data-toggle="dropdown" data-position="auto">
                                                            <i class="ace-icon fa fa-cog icon-only bigger-110"></i>
                                                        </button>

                                                        <ul class="dropdown-menu dropdown-only-icon dropdown-yellow dropdown-menu-right dropdown-caret dropdown-close">
                                                            <li>
                                                                <a href="#" class="tooltip-error" data-rel="tooltip"
                                                                   title="Delete">
																			<span class="red">
																				<i class="ace-icon fa fa-trash-o bigger-120"></i>
																			</span>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                    </div>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--<div id="rrweb-player"></div>-->
                            </div><!-- /.span -->
                        </div><!-- /.row -->


                        <!-- PAGE CONTENT ENDS -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.page-content -->
        </div>
    </div><!-- /.main-content -->

    <div class="footer" th:insert="~{ace/pb-pages/footer :: footer}">
    </div>
</div><!-- /.main-container -->

<div th:insert="~{ace/pb-pages/common-script :: common-script}"></div>
<!-- page specific plugin scripts -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/style.css"/>
<script src="https://cdn.jsdelivr.net/npm/rrweb-player@latest/dist/index.js"></script>

<script type="application/javascript">
    $('#playback').on('click', function () {
        d.showModal(document.getElementById('playback-list'));
        replay();
    });

    d = dialog({
        title: '回放',
        content: '<div id="rrweb-player"></div>'
        //    content: '回放录影'
    });


    function replay() {
        const userAccount = '[[${currentUser.userAccount}]]';
        const uuid = 'ba41261a';
        $.ajax({
            type: "GET",
            url: "/rest/rrweb/playback/" + userAccount + "/" + uuid, //访问的链接
            dataType: 'json',
            success: function (resp) {  //成功的回调函数
                const records = JSON.parse(resp.data);
                new rrwebPlayer({
                    target: document.getElementById("rrweb-player"),
                    data: {
                        events: records,
                    },
                });
            },
            error: function (e) {
                console.log("error:" + e.message);
            }
        });
    }


</script>

</body>
</html>
