<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="common-script">

    <!--[if IE]>
    <script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
    <!-- <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "/script>");
    </script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- ace scripts -->
    <script th:src="@{/assets/js/ace-elements.min.js}"></script>
    <script th:src="@{/assets/js/ace.min.js}"></script>
    <!-- common scripts -->
    <script th:src="@{/assets/js/custom/common.js}"></script>
    <script th:src="@{/assets/js/artDialog-v7/dist/dialog.js}" charset="UTF-8"></script>
    <script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@17.8.3/dist/lazyload.min.js" charset="UTF-8"></script>
</div>