<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--<div></div> 如出现嵌套head, <div>换成<th:block>-->
<th:block th:fragment="common-script">

    <!--[if IE]>
    <script th:src="@{/assets/js/jquery-1.11.3.min.js}"></script>
    <![endif]-->
    <!-- basic scripts -->
    <!--[if !IE]> -->
    <script th:src="@{/assets/js/jquery-2.1.4.min.js}"></script>
    <script th:src="@{/assets/js/jquery.cookie.min.js}"></script>
    <!-- <![endif]-->
    <script type="text/javascript">
        if ('ontouchstart' in document.documentElement) document.write("<script th:src='@{/assets/js/jquery.mobile.custom.min.js}'>" + "<" + "/script>");
    </script>
    <script th:src="@{/assets/js/bootstrap.min.js}"></script>

    <!-- ace scripts -->
    <script th:src="@{/assets/js/ace-elements.min.js}"></script>
    <script th:src="@{/assets/js/ace.min.js}"></script>
    <!-- common scripts -->
    <script th:src="@{/assets/js/custom/common.js}"></script>
    <script th:src="@{/assets/js/artDialog-v7/dist/dialog.js}" charset="UTF-8"></script>

    <!--[if lte IE 8]>
    <script th:src="@{/assets/js/excanvas.min.js}"></script>
    <![endif]-->
    <script th:src="@{/assets/js/jquery-ui.custom.min.js}"></script>
    <script th:src="@{/assets/js/jquery.ui.touch-punch.min.js}"></script>
    <script th:src="@{/assets/js/jquery.gritter.min.js}"></script>
    <script th:src="@{/assets/js/bootbox.js}"></script>
    <script th:src="@{/assets/js/jquery.easypiechart.min.js}"></script>
    <script th:src="@{/assets/js/jquery.hotkeys.index.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-wysiwyg.min.js}"></script>
    <script th:src="@{/assets/js/select2.min.js}"></script>
    <script th:src="@{/assets/js/chosen.jquery.min.js}"></script>
    <script th:src="@{/assets/js/spinbox.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/assets/js/moment.min.js}"></script>
    <script th:src="@{/assets/js/daterangepicker.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-datetimepicker.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/assets/js/jquery.knob.min.js}"></script>
    <script th:src="@{/assets/js/autosize.min.js}"></script>
    <script th:src="@{/assets/js/jquery.inputlimiter.min.js}"></script>
    <script th:src="@{/assets/js/jquery.maskedinput.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-tag.min.js}"></script>
    <script th:src="@{/assets/js/bootstrap-editable.min.js}"></script>
    <script th:src="@{/assets/js/ace-editable.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/rrweb@latest/dist/rrweb.min.js"></script>
    <!--<script th:src="@{/assets/js/rrweb/rrweb-record.2.0.0.alpha4.min.js}"></script>-->
    <!--<link rel="stylesheet" th:href="@{/assets/js/rrweb/rrweb.min.2.0.0.alpha4.css}"/>-->

    <script type="text/javascript">
        // jQuery(function () {
        //     uuid = getUuid().slice(0, 8);
        //     rrweb.record({
        //         emit(event) {
        //             // 用任意方式存储 event
        //             console.log(event);
        //             events.push(event);
        //         },
        //     });
        // });

        let uuid;
        let serial = 1;
        // rrweb行为录制
        let events = [];

        // 每 10 秒调用一次 save 方法，避免请求过多
       // setInterval(save, 10 * 1000);

        function save() {
            const data = {
                //应该从后台拿当前用户信息
                // userId: '[[${currentUser.userId}]]',
                // userAccount: '[[${currentUser.userAccount}]]',
                // url: window.location.pathname,
                eventData: JSON.stringify(events),
                uuid: uuid,
                serial: serial
            };
            events = []; // 重置 events 数组
            $.ajax({
                url: "/rest/rrweb/save.html",
                type: "POST",
                data: data, //JSON.stringify(reports)
                success: function (data) {
                    serial = serial + 1;
                    console.log(data);
                },
                error: function (xhr, status, error) {
                    console.log(xhr.responseText);
                    console.log(status);
                    console.log(error);
                }
            });


        }


        // save 函数用于将 events 发送至后端存入，并重置 events 数组
        function save1() {
            // const data = {
            //     userId: '[[${currentUser.userId}]]',
            //     userAccount: '[[${currentUser.userAccount}]]',
            //     url: window.location.pathname,
            //     eventData: events
            // };
            // const body = JSON.stringify(data);


            const body = JSON.stringify(events);
            // if (events.length === 0) {
            //     return;
            // }
            events = []; // 重置 events 数组
            fetch("/rest/rrweb/save.html", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: body,
            });
        }

        // save 函数用于将 events 发送至后端存入，并重置 events 数组
        // function save() {
        //     if (events.length === 0) {
        //         return;
        //     }
        //     const body = JSON.stringify({events});
        //     $.ajax({
        //         type: "POST",
        //         url: "/rest/rrweb/save.html", //访问的链接
        //         dataType: "json",  // 修改为 "json"
        //         contentType: "application/json",  // 添加 contentType
        //
        //         data: JSON.stringify({
        //             token: "playback-id",
        //             body: body
        //         }),
        //         success: function (resp) {  //成功的回调函数
        //            // const data = JSON.parse(res);
        //             console.log(resp.code);
        //         },
        //         error: function (e) {
        //             alert("error: " + e.message);
        //         }
        //     });
        // }


    </script>
</th:block>

