<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="sidebar">
    <!--左菜单列-->
    <script type="text/javascript">
        try {
            ace.settings.loadState('sidebar')
        } catch (e) {
        }
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts"
         th:insert="~{templates/ace/pb-pages/sidebar-shortcuts :: sidebar-shortcuts}"></div>
    <!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list" th:include="~{templates/ace/pb-pages/nav-list :: nav-list}"></ul> <!--th:include引入css无效,未解决-->
    <!-- <div class="nav nav-list" th:insert="~{templates/ace/pb-pages/nav-list :: nav-list}"></div>-->
    <!-- <ul class="nav nav-list" th:insert="~{templates/ace/pb-pages/nav-list :: nav-list}"></ul>-->
    <!-- /.nav-list -->
    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse"
         th:insert="~{templates/ace/pb-pages/sidebar-collapse :: sidebar-collapse}"></div>
    <!-- /.nav-list collapse -->
</div>